.helper { border: 2px dashed #777; }

.sort-handle { cursor: move; }

.clearfix { clear: both; }


ul.list-block {
	margin: 0;
	padding: 0 0 0 4ex;
	background-color: #fff;
}

ul#the-list.list-block {
	padding: 0;
}

li.list-block {
	list-style: none;
	margin: 0;
	padding: 8px 0 0;
}

div.list-block {
	padding: 0 8px 8px;
}



/* Themes */

.theme-list {
	list-style: none;
}

.theme-list div.screen-shot {
	width: 250px;
	height: 188px;
	float: left;
	margin-right: 1ex;
	border: 1px solid #666;
}

.theme-list.active div.screen-shot {
	width: 300px;
	height: 225px;
}

.theme-list div.screen-shot a {
	text-decoration: none;
	border: none;
}

.theme-list div.screen-shot img { width: 100% }

.theme-list li { padding: 1ex; }

.theme-list.active li { background-color: #f0fff8; }

.theme-list h3 {
	margin-top: 0;
	display: inline;
}

